@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  overflow: hidden;
}

.fullscbutton {
  font-family: "Noto Sans KR";
  user-select: none;
  -webkit-user-drag: none; 

  background-color: #839ced10; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 3;
}

.nextButton {
  font-family: "Noto Sans KR";
  user-select: none;
  -webkit-user-drag: none; 

  position: fixed;
  right: 3%;
  bottom: 2%;
  text-align: center;

  background-color: white;
  border: none;
  border-radius: 0.4em;
  color: #4684B0;
  font-weight: bolder;
  font-size: 1.75em;
  padding: 0.3em 1.2em 0.4em 1.3em;

  transition: 0.2s;
}

.nextButton:hover, .exportButton:hover {
  cursor: pointer;

  background: var(--button-hover-bg-color);
  outline: 0;
  background-color: #4684B0;
  color: #ffffff;
}

.exportButton {
  font-family: "Noto Sans KR";
  user-select: none;
  -webkit-user-drag: none; 

  position: fixed;
  right: 3%;
  bottom: 2%;
  text-align: center;

  background-color: white;
  border: none;
  border-radius: 0.4em;
  color: #4684B0;
  font-weight: bolder;
  font-size: 1.75em;
  padding: 0.3em 1.3em 0.4em 1.3em;

  transition: 0.2s;
}