

.bgFrame {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  width: 300px;
  height: 874px;
}

.bgFrameSC {
  display: inline-block;
  background-color: rgb(150, 150, 150, 0.4);
  margin-top: 12px;
  width: 271px;
  height: 205px;
}

.homeBgFrame1 {
  position: absolute;
  transform: rotate(55deg);
  text-align: center;
  top: -330px;
  left: -20px;
}

.homeBgFrame2 {
  position: absolute;
  transform: rotate(55deg);
  text-align: center;
  top: 50%;
  left: 80%;
}

.selectBgFrame1 {
  position: absolute;
  transform: rotate(45deg);
  text-align: center;
  top: -40%;
  left: -10%;
}

.selectBgFrame2 {
  position: absolute;
  transform: rotate(135deg);
  text-align: center;
  top: 40%;
  left: -10%;
}

.frameBgFrame1 {
  position: absolute;
  text-align: center;
  top: 59%;
  left: 2%;
}

.frameBgFrame2 {
  position: absolute;
  text-align: center;
  top: -40%;
  right: 2%;
}

.cameraBgFrame1 {
  position: absolute;
  text-align: center;
  transform: rotate(45deg);

  top: 50%;
  left: -10%;
}

.cameraBgFrame2 {
  position: absolute;
  text-align: center;
  transform: rotate(45deg);

  top: -47%;
  right: -7%;
}

.ExportBgFrame1 {
  position: absolute;
  text-align: center;

  top: 5%;

  left: -8%;
}

.ExportBgFrame2 {
  position: absolute;
  text-align: center;

  right: -8%;

  top: -50%;
}