.selectBgFrame1 {
  position: fixed;
  // rotate: 45;
}


.bgFrame {
  display: inline-block;
  color: white;
  width: 232px;
  height: 874px;
}

.bgFrameSC {
  display: inline-block;
  color: #d9d9d9;
  width: 271px;
  height: 205px;
}