@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");




.CameraDiv {
    background-color: #B7D3E9;
    height: 100vh;
    min-height: 100vh;
}

.prevCameraImgCaption {
    font-family: "Noto Sans KR";
    user-select: none;
    -webkit-user-drag: none; 

    color: white;

    font-size: 1.5em;
    font-weight: bolder;


    position: absolute;
    text-align: center;


    z-index: 2;

    top: 30%;
    left: 9%;
}

.prevCameraImg {
    position: absolute;
    text-align: center;


    z-index: 2;

    top: 35%;
    left: 5%;
}

.prevCameraImgSC {
    display: block;

    width: 90%;
}

.Webcam {
    display: block;
    margin: auto;
    padding-top: 11vh;
    text-align: center;
    width: 66vh;
    height: 49vh;
}

.counter {
    font-family: "Noto Sans KR";
    user-select: none;
    -webkit-user-drag: none; 

    position:fixed;
    margin-top: -60vh;
    margin-left: 8vh;
    color: white;
    font-size: 78px;
}

.shutter {
    margin-top: 5px;
    background: url( "img/shutter.png" ) no-repeat;

    width: 100px;
    height: 100px; 
    //셔터사진의 이미지를 줄이거나 키우려면 셔터 이미지 자체의 px를 조절해 
    //이미지를 덮어쓰기 저장 후
    //이곳의 px을 조절해야함
    border: none;
    user-select: none;
    -webkit-user-drag: none; 
    cursor: pointer;

}