@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.FrameDiv {
    background-color: #B7D3E9;
    height: 100vh;
    min-height: 100vh;
}

.title {
    font-family: "Noto Sans KR";
    margin-top: 0vh;
    padding-top: 10vh;
    margin-bottom: 2vh;
    color: white;
    text-align: center;
    font-size: 9vh;

    user-select: none;
    -webkit-user-drag: none; 
}

.frame_table{
    display: block;
    margin: auto;
    padding-top: 1vh;
    text-align: center;
    width: 90vh;
    height: 72vh;
}

.frame_name {
    font-family: "Noto Sans KR";
    margin-top: 0vh;
    padding-top: 0vh;
    margin-bottom: 0vh;
    color: white;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
}

.frame_base {
    display: block;
    position: relative;
    text-align: center;
    width: 202px;
}

h3 {
    font-family: "Noto Sans KR";
    user-select: none;
    -webkit-user-drag: none; 

    margin-top: 15vh;
    color: #ffffff;
    text-align: center;
    font-size: 47px;
    margin-bottom: 0%;
}

h4 {
    font-family: "Noto Sans KR";
    user-select: none;
    -webkit-user-drag: none; 
    
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 0%;
}