@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
body {
    text-align: center;
}
.FrameDiv {
    background-color: #B7D3E9;
    height: 100vh;
    min-height: 100vh;
    text-align: center;
}

.title {
    font-family: "Noto Sans KR";
    display: inline-block;
    font-size: 9vh;
    margin-top: 0;
    padding-top: 10vh;
    margin-bottom: 2vh;
    color: white;

    user-select: none;
    -webkit-user-drag: none;
}

.frame_table {
    display: block;
    margin: auto;
    padding-top: 1vh;
    width: 796px;
    height: 660px;
    margin-bottom: -1%;
}

.frame_name {
    font-family: "Noto Sans KR";
    margin-top: 0vh;
    padding-top: 0vh;
    margin-bottom: 0vh;
    color: white;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;

    user-select: none;
    -webkit-user-drag: none;
}

.frame_base {
    display: inline-block;
    width: 195px;
}

.radioTable {
    text-align: center;
    display: inline-block;
    margin-top: 2%;
}

.radioTable td {
    width: 195px;
    text-align: center;
}

.inputradio {
    display: inline-block;
}

[type="radio"] {
    appearance: none;
    // border: max(2px, 0.1em) solid gray;
    background-color: white;
    border-radius: 15%;
    width: 2em;
    height: 2em;
    transition: border 0s ease-in-out;
}

[type="radio"]:checked {
    border: 0.45em solid white;
    background-color: rgb(255, 59, 25);
}

[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted rgb(255, 59, 25);
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

[type="radio"]:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}