.HomeDiv {
    background-color: #4684B0;
    height: 100vh;
    min-height: 100vh;
}

h1 {
    margin-top: 0vh;
    padding-top: 12vh;
    margin-bottom: 7.5vh;
    color: white;
    text-align: center;
    font-size: 14vh;
}

.Home_camera_icon {
    margin: auto;
    display: block;
    text-align: center;
    width: 43vh;
    height: 30vh;
}

h3 {
    margin-top: 15vh;
    color: #ffffff;
    text-align: center;
    font-size: 47px;
    margin-bottom: 0%;
}

h4 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 0%;
}