@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.Home_frame40 {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 336px;
    height: 350px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.Home_frame60 {
    position: fixed;
    z-index: 1;
    width: 450px;
    height: 270px;
    bottom: 0px;
    right: 0px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.HomeDiv {
    background-color: #B7D3E9;
    height: 100vh;
    min-height: 100vh;
}

.Title {
    font-size: 113px;
    font-family: "Noto Sans KR";
    text-align: center;
    margin-top: 0;
    padding-top: 90px;
    margin-bottom: 44px;
    color: white;
    outline: #4684B0;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.Home_camera_icon {
    margin: auto;
    display: block;
    text-align: center;
    width: 330px;
    height: 230px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.btn_block {
    padding-top:65px;
    margin: auto;
    display: block;
    width: 201.59px;
}

.StartButton {
    margin: 0;
    padding: 0.5rem 1.3rem;
    font-family: "Noto Sans KR";
    font-size: 1.88rem;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: #4684B0;
    background-color: #ffffff;
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.StartButton:active,
.StartButton:hover,
.StartButton:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
    background-color: #4684B0;
    color: #ffffff;
}

.StartButton:disabled {
    opacity: 0.5;
}

.StartButton>h5 {
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 6px;
    margin-block-end: 0px;
    width: 160px;
}

.kor_subtext {
    font-family: "Noto Sans KR";
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    font-weight: 3;
    margin-bottom: 0%;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.eng_subtext {
    font-family: "Noto Sans KR";
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    font-weight: 3;
    margin-top: 0%;
    -webkit-user-select: none;
    -webkit-user-drag: none;    
}