@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.HomeDiv {
    background-color: #B7D3E9;
    height: 100vh;
    min-height: 100vh;
}

.Title {
    margin-top: 0vh;
    padding-top: 12vh;
    margin-bottom: 7.5vh;
    color: white;
    text-align: center;
    font-size: 14vh;
    outline: #4684B0;
}

.Home_camera_icon {
    margin: auto;
    display: block;
    text-align: center;
    width: 43vh;
    height: 30vh;
}

.btn_block {
    padding-top: 1.2em;
    margin: auto;
    display: block;
    width: 185.59px;
}

.StartButton {
    /* 생략 */
    margin: 0;
    padding: 0.5rem 0.8rem;
    font-family: "Noto Sans KR";
    font-size: 1.9rem;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: #4684B0;
    background-color: #ffffff;
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.StartButton:active,
.StartButton:hover,
.StartButton:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
    background-color: #4684B0;
    color: #ffffff;
}
.StartButton:disabled {
    opacity: 0.5;
}

.StartButton > h5 {
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-block-end: 0px;
    width: 160px;
}

// .StartButton {
//     margin: auto;
//     display: block;
//     background-color: #ffffff;
//     text-decoration: none;
//     margin-top: 3vh;
//     color : black;
//     width: 18vh;
//     border-radius: 12px;
// }

// .StartButton > h5 {
//     margin: 7px;
//     display: block;
//     color: #4684B0;
//     font-weight: bold;
// }


.kor_subtext {
    margin-top: 5vh;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0%;
}

.eng_subtext {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 0%;
}